.filter {
  display: flex;
  gap: 16px;
  padding: 20px;
  background-color: var(--card-bg-color);
  margin-bottom: 1.25rem;
}

.button {
  color: var(--font-color);
  background-color: var(--button-bg-color);

  border: none;
  padding: 8px 16px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.icon {
  opacity: 0;
  width: 0;
  pointer-events: none;
  transition: width 0.2s ease-in-out;
}

.button.active {
  background-color: green;
}

.button.active .icon {
  opacity: 1;
  width: 24px;
}

.button:active {
  scale: 0.99;
}
